What information do you want to delete?
[1]Delete an entire user
[2]Delete the phone number(if the user has several).
[3]Delete the nickname.
[4] Delete the user's date of birth.
[5]<= Go back in main menu
Type in a number (1-5):