Welcome to the phone directory!

Select what You want to do:
=========================================

[1]. Show all entries
[2]. Create an entry
[3]. Update the record
[4]. Delete an entry
[5]. Show the entry
[6]. Lookup age of person in the phone book
[7].<= Exit the program