Total numbers {{user_update.name}} {{user_update.surname}} - {{ user_update.phones|count }}
{% for number in user_update.phones %}
{{user_update.phones.index(number)+1}}   {{number}}
{% endfor %}=====================================
[1]Update one of the existing numbers?
[2]Or add another new one?
Type in a number (1-2):